.card{
    padding: 5%; 
    background-color: #200175;
}

.card form{
    padding: 5%; 
    background-color: #faf9fc;
}
.post {
    float:right;
    margin-left: 45%;
    color:#ffffff;
}
.btn, .btn-large, .btn-small {
    background-color: #200175;
    color:#ffffff;
}