.icons li {
    display: inline-block;
    padding-right: 10px;
}
.post img{
    height:200px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.textarea{
    width:80%
}
.btn-small {
    margin-left: 5px;
}
.circle {
    border-radius: 20%;
    width: 50px;
}
.commentBox{
    overflow-y: scroll;
    max-height:200px;
}
.commentContainer{
    background-color: rgb(233, 228, 250);
}