<!-- 
 <div *ngIf="errors.length > 0" class="alert alert-danger">
  <p *ngFor="let error of errors">
    {{error.detail}}
  </p>
</div> -->

<div *ngIf="notifyMessage" class="alert alert-success">
  {{notifyMessage}}
</div>
<!-- <mat-card class="forgotPass">
  <form class="example-form" #passForm="ngForm" >

      <mat-form-field class="example-full-width">
        <input matInput
        name="email"
        [(ngModel)]="emailInput.email"
        #email="ngModel"
         placeholder="email"
          value="email"
          required>
      </mat-form-field>

      <div  *ngIf="email.invalid && (email.dirty || email.touched)"
      class="alert alert-danger">
        <div *ngIf="email.errors.required">
          email required
        </div>
      </div>

      <br>


      <input [disabled]="!passForm.form.valid" type="submit" (click)="Submit()" name="Submit" >
  
 </form>
</mat-card> -->



<!-- Page Content
================================================== -->
<div class="container" >
    <div class="row">
      <div class="col-xs-12">
        <div class="login-register-page">
          <!-- Welcome Text -->
          
          <div *ngIf="notifyMessage"  class="alert alert-success alert-dismissible fade in">
              <a href="#"    class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <strong class="notify">{{notifyMessage}}</strong>
            </div>
          <div class="welcome-text">
              <h3>اضف ايميلك ليتم ارسال لنك استعاده الحساب </h3>
          </div>
        
          <!-- Form -->
          <form method="post" id="login-form" #passForm="ngForm">
            <div class="input-with-icon-left">
              <i class="icon-material-baseline-mail-outline"></i>
              <input type="email" class="input-text with-border"  id="emailaddress" 
              [(ngModel)]="emailInput.email"
              #email="ngModel"
              name="email"
               placeholder="email"
               pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
               required/>
            </div>
  
            <div  *ngIf="email.errors && email.invalid && (email.dirty || email.touched)"
            class="alert alert-danger">
              <div *ngIf="email.errors.required">
               الايميل مطلوب
              </div>
              <div [hidden]="!email.errors?.pattern">
                  الايميل غير صحيح
                 </div> 
            </div>

            <input [disabled]="!passForm.form.valid" type="submit" (click)="Submit()"    class="button full-width button-sliding-icon ripple-effect margin-top-10" value="ارسل">
          </form>
      </div>
    </div>
  </div>
  
  
  <!-- Spacer -->
  <div class="margin-top-70"></div>
  <!-- Spacer / End-->
  